definitions:
  schema.ErrorDetail:
    properties:
      code:
        type: string
      details:
        type: string
      message:
        type: string
    type: object
  schema.ErrorResponseSchema:
    properties:
      error:
        $ref: '#/definitions/schema.ErrorDetail'
      success:
        type: boolean
    type: object
  schema.SuccessResponseSchema:
    properties:
      data: {}
      message:
        type: string
      success:
        type: boolean
    type: object
  schema.UserCreateDTO:
    properties:
      email:
        type: string
      name:
        type: string
      password:
        minLength: 6
        type: string
    required:
    - email
    - name
    - password
    type: object
  schema.UserUpdateDTO:
    properties:
      email:
        type: string
      name:
        type: string
      password:
        type: string
    required:
    - email
    - name
    - password
    type: object
host: localhost:8081
info:
  contact: {}
  description: This API manages orders.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  title: User API
  version: "1.0"
paths:
  /users:
    get:
      description: Returns a list of all users from the database
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/schema.SuccessResponseSchema'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/schema.ErrorResponseSchema'
      summary: List all users
      tags:
      - users
  /users/{id}:
    delete:
      description: Deletes a user by their user ID
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/schema.SuccessResponseSchema'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/schema.ErrorResponseSchema'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/schema.ErrorResponseSchema'
      summary: Delete a user
      tags:
      - users
    get:
      description: Returns user details for a specific user ID
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/schema.SuccessResponseSchema'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/schema.ErrorResponseSchema'
      summary: Get user by ID
      tags:
      - users
  /users/create:
    post:
      consumes:
      - application/json
      description: Creates a new user with the provided details
      parameters:
      - description: User registration payload
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/schema.UserCreateDTO'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/schema.SuccessResponseSchema'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/schema.ErrorResponseSchema'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/schema.ErrorResponseSchema'
      summary: Register a new user
      tags:
      - users
  /users/update/{id}:
    put:
      consumes:
      - application/json
      description: Updates user details for a given user ID
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: string
      - description: Updated user data
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/schema.UserUpdateDTO'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/schema.SuccessResponseSchema'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/schema.ErrorResponseSchema'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/schema.ErrorResponseSchema'
      summary: Update user details
      tags:
      - users
schemes:
- http
securityDefinitions:
  ApiKeyAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
